pynput~=1.7.6
setuptools~=65.3.0
pip~=24.0
wheel~=0.37.1
Brotli~=1.0.9
cryptography~=3.4.8
py~=1.10.0
lxml~=4.9.1
tornado~=6.2
typing_extensions~=4.3.0
keyring~=23.5.0
future~=0.18.2
thecubeivazio~=0.1
pygame~=2.5.2