[Unit]
Description=Ivazio Cubemaster

[Service]
Environment=HOME=%h
ExecStart=/usr/bin/env bash ${HOME}/update_and_start_cubemaster.sh
WorkingDirectory=%h/thecube-ivazio
StandardOutput=journal
StandardError=journal
Restart=always
User=ivazio

[Install]
WantedBy=multi-user.target