[Unit]
Description=Ivazio CubeBox

[Service]
ExecStart=/usr/bin/bash /home/ivazio/update_and_start_cubebox.sh
WorkingDirectory=/home/ivazio/thecube-ivazio
StandardOutput=journal
StandardError=journal
Restart=always
User=ivazio

[Install]
WantedBy=multi-user.target