[Unit]
Description=Ivazio CubeMaster
After=network-online.target
Wants=network-online.target

[Service]
WorkingDirectory=/home/ivazio/thecube-ivazio
ExecStart=/home/ivazio/start_cubemaster_service.sh
ExecStop=/home/ivazio/stop_cubemaster_service.sh
StandardOutput=journal
StandardError=journal
Restart=always
User=ivazio
Group=ivazio
TimeoutStopSec=5



[Install]
WantedBy=multi-user.target